button.btn.btn-default {
  font-size: 16px;
  background: #DEDEDE;
}

.skills_list {
  margin-bottom: 60px;
}

ul {
  font-size: 14px;
  line-height: 1.2;  
  margin-bottom: 2px;
  padding-inline-start: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}